.introduction {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: center; /* Centers items horizontally when there's space available */
  text-align: center; /* Centers the text inside the flex items */
  margin-top: -40px; /* Spacing from the above content */
}

.bio {
  flex: 1 1 100%; /* Allows bio to grow but also ensures it takes full width on smaller screens */
  padding: 20px; /* Adds some space around the bio */
}

/*.introduction {
    display: flex;
    align-items: flex; /* Aligns items vertically in the center */
    /*justify-content: space-between; /* Puts space between the bio and the image */
  /*}
  
  .bio {
    flex: 1; /* Allows bio to grow and take up available space */
   /* padding-right: 20px; /* Adds some space between the bio and the image */
 /* }*/
  
  .profile-pic {
    width: 100%; /* Makes the image responsive to the container size */
    max-width: 300px; /* Limits the size of the image to not exceed 300px */
    height: auto; /* Keeps the aspect ratio of the image */
    border-radius: 50%; /* Optional: makes the image round */
    object-fit: cover; /* Keeps the aspect ratio while covering the element's entire content box */
  }


  .progress-note {
    font-style: italic; /* Example styling */
    color: #555; /* Subtle text color */
    margin-top: 20px; /* Spacing from the above content */
    /* Additional styles as needed */
  }


  .education-section, .work-experience-section, .skills-section, .service-section {
    margin-bottom: 20px;
  }
  
  .school, .job, .skill, .service {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .job-details h3 {
    margin: 0;
    color: #f60c0c; /* Change to your desired color */
    font-weight: bold; /* This will make the text bold */
  }
  
  .school img, .job img {
    width: 70px; /* Adjust size as needed */
    height: auto;
    margin-right: 50px;
  }
  
  .school-details h3, .job-details h3 {
    margin: 0;
    color: #333;
  }

  .school-details h3 {
    margin: 0;
    color: #e2eaec; /* Change to your desired color */
    font-weight: bold; /* This will make the text bold */
  }

 

  .degree-title {
    font-weight: bold;
    color: #2a6496; /* Or any other color you prefer */
  }